
#main stuff not needed to build project
Handmade.VC.db
Handmade.VC.VC.opendb

#all photoshop assets
Handmade/Assets/PSD/Handmade Lite Logo Original.psd
Handmade/Assets/PSD/Handmade Lite Logo Square.psd
Handmade/Assets/PSD/Mascot_1.psd
Handmade/Assets/PSD/Mascot_2.psd

#the outer Debug/Release folders
Debug
Release

#the inner Debug/Release folders
Handmade/Debug
Handmade/Release